body {
    margin: 0 0 3em 0 auto;
    background-color: #f3f3f3;
}

a, a:visited {
    color: #333;
    font-family: 'Courier New', Courier, monospace;
}

.header {
    margin: 1em;
}


.title_part {
    font-size: 3em;
    padding: .1em;
    font-family: 'Bellefair', serif;
    border: 3px solid #333;
}

.title_part_b {
    background-color: #333;
    color: #f3f3f3;
}

.title_part_w {
    padding-left: .2em;
    padding-right: .2em;
    background-color: #f3f3f3;
    color: #333;
}

.main {
    line-height: 1.25em;
}

.content {
    padding: 15px;
    max-width: 750px;
    font-family: 'Source Sans Pro', sans-serif;
}

.subtitle {
    font-size: 1.25em;
    line-height: 30px;
    padding-left: .2em;
    margin-bottom: .4em;
    border-left: solid #333 2px;
    background-color: #e6e6e6;
    font-family: 'Bellefair', serif;
}

ul > li {
    margin-bottom: 1em;
}

section > p {
    margin-bottom: .5em;
}

section {
    margin-bottom: 20px;
}

tt {
    font-family: 'Courier New', Courier, monospace;
}